<appSettings>

  <add key="SolrUri" value="" />
  <add key="ApplicationBaseUri" value="" />

  <!-- SendGrid info -->
  <add key="mailAccount" value="" />
  <add key="mailPassword" value="" />

  <!-- Client secrets for external Auth APIs etc -->
  <add key="GoogleAnalyticsId" value="" />
  <!-- Armserv: UA-30182766-1 leave empty to disable google analytics -->
  <add key="GoogleClientId" value="" />
  <add key="GoogleClientSecret" value="" />
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="FacebookUploadPhoto" value="true" />
  <add key="FacebookLike" value="true" />
  <add key="MicrosoftClientId" value="" />
  <add key="MicrosoftClientSecret" value="" />
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />
  <add key="YahooClientKey" value="" />
  <add key="YahooClientSecret" value="" />

  <add key="SMTPHost" value="" />
  <add key="SMTPPort" value="" />

  <!-- When generating direct links to view a specific item, eg https://localhost:44375/v/[item_id] or http://localhost/iNQUIRE/v/[item_id] -->
  <add key="ViewItemBaseUri" value="https://inquire.armtest.uk/v/" />

</appSettings>
