<appSettings>
  
  <!-- SendGrid info -->
  <add key="mailAccount" value="" />
  <add key="mailPassword" value="" />

  <!-- Client secrets for external Auth APIs etc -->
  <add key="GoogleAnalyticsId" value="" />
  <!-- Armserv: UA-30182766-1 leave empty to disable google analytics -->
  <add key="GoogleClientId" value="" />
  <add key="GoogleClientSecret" value="" />
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="FacebookUploadPhoto" value="true" />
  <add key="FacebookLike" value="true" />
  <add key="MicrosoftClientId" value="" />
  <add key="MicrosoftClientSecret" value="" />
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />
  <add key="YahooClientKey" value="" />
  <add key="YahooClientSecret" value="" />
  <add key="AzureContentModeratorURL" value="" />
  <add key="AzureContentModeratorKey" value="" />

  <add key="SMTPHost" value="" />
  <add key="SMTPPort" value="" />

  <!-- Use thes settings with IIP Image Server -->
  <add key="ResolverUri" value="http://iip.armtest.uk/iipsrv.fcgi" />
  <add key="ViewerUri" value="http://iip.armtest.uk/iipsrv.fcgi" />
  <add key="ProxyResolverFile" value="resolver.iip" />
  <add key="Jpeg2000NamespaceReplace" value="info:arm/test/" />
  <add key="Jpeg2000Namespace" value="Images/RKD/" />
  <add key="ImageFilenameAppend" value=".jp2" />
  <!-- Force jp2 image requests to use http protocol (rather than whatever the current
        client request is using) to reduce server overheads
        (secure request not needed for image fragments) -->
  <add key="ForceHttpForImageRequests" value="true" />

  <add key="DeepZoomQueryParameter" value="DeepZoom" />
  <!-- End: Use thes settings with IIP Image Server -->

  <!-- Settings to use on the Test page /Discover/Test/ 
       Used to debug setup, configuration and connectivity issues
       Enable the page by setting key "DebugJp2HandlerRequests" to "True" in
       the main web.config -->
  <add key="SearchDebugParameters" value="user_id=&amp;term=&amp;rows=5&amp;row_start=0&amp;sort_orders=title%5Easc&amp;facet_constraints=&amp;collection_ids=&amp;parent_id=&amp;lang_id=nl"/>
  <add key="SolrDebugParameters" value="/select?q=*:*&amp;wt=json&amp;indent=true"/>
  <add key="IIPDebugParameters" value="FIF=Images/RKD/0000191303.jp2&amp;WID=313&amp;RGN=0,0,1,1&amp;CVT=jpeg"/>
  <add key="DeepZoomDebugParameters" value="DeepZoom=Images/RKD/0000191303.jp2_files/1/0_0.jpg" />

  
  <!-- START: Main iNQUIRE instance specific config parameters -->
  <add key="SolrUri" value="" />
  <add key="ApplicationBaseUri" value="" />
  <!-- used to locate users in aspnet_Membership  -->
  <add key="ApplicationIdAspNet" value="" />
  <!-- used to tie user generated content with a specific inquire site (in case of multiple inquire sites pointing at the same database, allow a method eg "GetUserNotes()" to just return notes for the relevant site) -->
  <add key="ApplicationIdInquire" value="" />

  <!-- When generating direct links to view a specific item, eg https://localhost:44375/v/[item_id] or http://localhost/iNQUIRE/v/[item_id] -->
  <add key="ViewItemBaseUri" value="https://inquire.armtest.uk/v/" />

  <!-- Default Solr search field when user enters a search term, eg "text", 
      this would normally be a catchall text field consisting of other text fields (see Solr docs).
      If only one language is specified below then the field will be used as is eg "text"
      however if more than one language is specified, eg "en,nl" then iNQUIRE will expect to
      find the following Solr fields "text_en, text_nl" and the appropriate one will be 
      searched depending on the default language (first in the list) or the language the user
      has selected by clicking in the UI -->
  <add key="DefaultSolrSearchField" value="text" />
  
  <!-- Languages to use if multi lingual search fields are required, else leave empty 
        value="[lang_code]|[language_name]^[language_code]|[language_name]^[...]"
        eg for Dutch and English: value="nl|Nederlands^en|English"
        The first language listed will be the default language selected in the UI and used for searches
        -->
  <add key="Languages" value="nl|Nederlands^en|English"/>
  
  <!-- Solr fields to apply multi lingual properties to,
      value="[field1]^[field2]^[...]"
      (eg if "category^title" and you have defined Languages (above)
      to be "nl|Nederlands^en|English" then your Solr schema must
      have the following fields defined: category_nl, category_en, title_nl, title_en 
      You must always have a Solr catchall text field defined for each language,
      even if you only have one language defined eg text_en
       -->
    <add key="MultiLingualSolrFields" value="category^title"/>

    <!-- Site specific configuration settings, these are example settings and should be changed for your installation/Solr schema -->
    <add key="ExportFilename" value="iNQUIRE_export"/>
    <!-- Facets: [field name]|[display name], separated by caret ^, for a range in the format "[field name]|[display name]|[int start value, add "*" at start to wildcard include lower values]|[int end value, add "*" at start to wildcard include higher values]|[int gap] -->
    <!-- eg "Genre|Genre^DateStartYear|Date Start Year|50|*1700|*2012" -->
    <!-- collection_history|Collection^year|Date|*1500|*1900|25 -->
    <add key="Facets" value="year|Date|*1500|*1900|25^category_nl|Category"/>
    <!-- SortFields: [field name]|[display name]|[asc|desc], separated by caret ^ -->
    <!-- eg "ShortTitle|Title (A-Z)|asc^ShortTitle|Title (Z-A)|desc", for random sort order use "Random|Random|asc", for relevance use score, eg "score|Relevance|desc" -->
    <!-- nb: fields that are sorted on must be set to "indexed" and also not be multi-valued in the solr schema.xml, remember tomcat must be restarted, and the data re-imported -->
    <add key="SortFields" value="title|Title (A-Z)|asc^title|Title (Z-A)|desc^year|Year (Old-New)|asc^year|Year (New-Old)|desc"/>
    <!-- HyperlinkFields: [field to look for hyperlinks]|[true|false links encoded]|, separated by caret ^, eg "Description|true^Source|false^Collection|false"
         Format for encoding links in the text "^[link text]|[url]^", eg "^Bing search|http://www.bing.com^" or for link text to be the url itself: "^|http://www.bbc.co.uk^"
         If links are not encoded they are referred to as "naked" links, need to supply the prefix in NakedHyperlinkPrefix, this would usually be "http://" or "www."
         NakedHyperlinkPrefix must be consistent within a field (ie you can't mix some Urls prefixed by "http://" and some with "www." and have them all auto marked up)
         Clearly you can have naked hyperlinks in one field, and encoded ones in another, but you can't mix naked and encoded in the same field -->
    <add key="HyperlinkFields" value="Description|true^Source|false^Collection|false"/>
    <add key="HyperlinkTargetBlank" value="true"/>
    <add key="NakedHyperlinkPrefix" value="http://"/>
    <add key="ObjectIdFieldName" value="id"/>
    <add key="ParentIdFieldName" value="parent_node"/>
    <add key="FromEmailAddress" value="iNQUIRE@yourdomain.com"/>
    <add key="ExportEmailSubject" value="iNQUIRE Export"/>
    <add key="EmailQueueProcessDelayMS" value="5000"/>
    <!-- Use eg "[Comment text] 4d" instead of absolute timestamps for public comments-->
    <add key="UseTimeSince" value="true" />
  <!-- END: Main iNQUIRE instance specific config parameters -->  


    <!-- BEGIN: Machine specific settings -->
    <add key="Jpeg2000Directory" value="F:\Clients\iNQUiRE\inquire_working\iNQUIRE\iNQUIRE\bin\jp2\" />
    <add key="ImageDirectory" value="F:\Clients\iNQUiRE\inquire_working\iNQUIRE\iNQUIRE\Media\Crimea\" />
    <add key="ErrorLogFile" value="inquire.csv" />
    <add key="LogFileDirectory" value="C:\Users\steve\Source\Repos\inquire\iNQUIRE.v2\bin\" />
    <add key="JavaHome" value="C:\Program Files (x86)\Java\jre6\bin\java.exe" />
    <!-- END: Machine specific settings -->
  
  
    <!-- BEGIN: Miscellaneous settings -->
    <add key="OpenDeepZoomTouchIcon" value="arrows-alt" />
    <!-- arrows-alt choose from http://fontawesome.github.io/Font-Awesome/icons/ , correct version of Font Awesome must be included in the project, icon size can be changed by editing the openDeepZoom class in UserDefined.css -->
    <add key="AlwaysShowOpenDeepZoomTouchIcon" value="false" />
    <!-- if true the open DeepZoom icon will always be show, if false it will only be shown if Android or iOS client is detected -->
    <add key="TouchDoubleClickDelayMs" value="0" />
    <!-- iOS/Android browsers don't support double click/tap, so we time the interval between single clicks, if it's shorter than this length we consider it a double click, set to 0 to disable doubleTap on iOS Android-->
    <add key="SavedSearchesDisplayMax" value="5" />
    <add key="ExportImageWidth" value="300" />
    <add key="ExportImageHeight" value="300" />
    <add key="ExportMaxImages" value="20" />
    <add key="FacebookShareHashtag" value="#iNQUIRE" />
    <add key="TwitterActivityCaption" value="" />
    <add key="TwitterHashtag" value="#ArmInquire" />
    <add key="TwitterText" value="I found this in iNQUIRE" />
    <add key="DebugJp2HandlerRequests" value="false" />
    <add key="TileSize" value="256" />
    <add key="ZoomViewerHeightPx" value="750" />
    <add key="ColonInFieldNames" value="true" />
    <add key="FieldConcatenationString" value="; " />
    <add key="ConcatenateFields" value="" />
    <!-- dcterms:title,dcterms:description -->
    <add key="MultiFacetConstraints" value="false" />
    <add key="FacetLimit" value="-1" />
    <add key="MediaDirectoryRemote" value="/Media/Crimea/" />
    <!-- END: Miscellaneous settings -->
</appSettings>
