<appSettings>

  <add key="SolrUri" value="" />
  <add key="ApplicationBaseUri" value="" />

  <!-- SendGrid info -->
  <add key="mailAccount" value="" />
  <add key="mailPassword" value="" />

  <!-- Client secrets for external Auth APIs etc -->
  <add key="GoogleAnalyticsId" value="" />
  <!-- Armserv: UA-30182766-1 leave empty to disable google analytics -->
  <add key="GoogleClientId" value="" />
  <add key="GoogleClientSecret" value="" />
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="FacebookUploadPhoto" value="true" />
  <add key="FacebookLike" value="true" />
  <add key="MicrosoftClientId" value="" />
  <add key="MicrosoftClientSecret" value="" />
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />
  <add key="YahooClientKey" value="" />
  <add key="YahooClientSecret" value="" />

  <add key="SMTPHost" value="" />
  <add key="SMTPPort" value="" />

  <!-- When generating direct links to view a specific item, eg https://localhost:44375/v/[item_id] or http://localhost/iNQUIRE/v/[item_id] -->
  <add key="ViewItemBaseUri" value="https://inquire.armtest.uk/v/" />

  <!-- Use thes settings with IIP Image Server -->
  <add key="ResolverUri" value="http://iip.armtest.uk/iipsrv.fcgi" />
  <add key="ViewerUri" value="http://iip.armtest.uk/iipsrv.fcgi" />
  <add key="ProxyResolverFile" value="resolver.iip" />
  <add key="Jpeg2000NamespaceReplace" value="info:arm/test/" />
  <add key="Jpeg2000Namespace" value="Images/RKD/" />
  <add key="ImageFilenameAppend" value=".jp2" />
  <add key="DeepZoomQueryParameter" value="DeepZoom" />
  <!-- End: Use thes settings with IIP Image Server -->

  <!-- Settings to use on the Test page /Discover/Test/ 
       Used to debug setup, configuration and connectivity issues
       Enable the page by setting key "DebugJp2HandlerRequests" to "True" in
       the main web.config -->
  <add key="SearchDebugParameters" value="user_id=&amp;term=&amp;rows=5&amp;row_start=0&amp;sort_orders=title%5Easc&amp;facet_constraints=&amp;collection_ids=&amp;parent_id=&amp;lang_id=nl"/>
  <add key="SolrDebugParameters" value="/select?q=*:*&amp;wt=json&amp;indent=true"/>
  <add key="IIPDebugParameters" value="FIF=Images/RKD/0000191303.jp2&amp;WID=313&amp;RGN=0,0,1,1&amp;CVT=jpeg"/>
  <add key="DeepZoomDebugParameters" value="DeepZoom=Images/RKD/0000191303.jp2_files/1/0_0.jpg" />

</appSettings>
