<connectionStrings>
  <add name="INQUIREConnectionString" connectionString="Data Source=;Database=;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient" />
  <!--<add name="INQUIREConnectionString"
       connectionString="Data Source=ARMSERV;Database=INQUIRE_Lite;Persist Security Info=True;User ID=dreuser2;Password=dr3u53r123+" providerName="System.Data.SqlClient" />
  <add name="djatoka_testConnectionString" connectionString="Data Source=ARMSERV;Initial Catalog=djatoka_test;Persist Security Info=True;User ID=djatoka;Password=dj@t0k@" providerName="System.Data.SqlClient" />-->
</connectionStrings>
