<?xml version="1.0" encoding="utf-8" ?>

<unity>
  <alias alias="Workspace" type="iNQUIRE.Workspace, iNQUIRE" />
  <alias alias="WorkspaceItem" type="iNQUIRE.WorkspaceItem, iNQUIRE" />
  <assembly name="iNQUIRE" />
  <assembly name="iNQUIRE.Models" />
  <namespace name="iNQUIRE" />
  <namespace name="iNQUIRE.Models" />
  <container>
    <!--<register type="iNQUIRE.Models.ITest[Workspace, Workspace], iNQUIRE" mapTo="iNQUIRE.Models.Test, iNQUIRE" />-->
    <register type="iNQUIRE.Models.IUserCollectionRepository[Workspace,WorkspaceItem,string], iNQUIRE" mapTo="iNQUIRE.Models.LinqToSqlUserCollectionRepository, iNQUIRE" />
    <register type="iNQUIRE.Models.IUserTagRepository[Tag,TaggedItem,string], iNQUIRE" mapTo="iNQUIRE.Models.LinqToSqlUserTagRepository, iNQUIRE" />
    <register type="iNQUIRE.Models.IUserNoteRepository[Note,string], iNQUIRE" mapTo="iNQUIRE.Models.LinqToSqlUserNoteRepository, iNQUIRE" />

    <register type="iNQUIRE.Models.IRepository, iNQUIRE" mapTo="iNQUIRE.Models.iNQUIRESolrRepository, iNQUIRE" />
    <register type="iNQUIRE.Models.IUserSearchRepository, iNQUIRE" mapTo="iNQUIRE.Models.LinqToSqlUserSearchRepository, iNQUIRE" />
    <register type="iNQUIRE.Helper.IJP2Helper, iNQUIRE.Helper" mapTo="iNQUIRE.Helper.IIPImageHelper, iNQUIRE.Helper" />
  </container>
</unity>