        <div class="row">
            <footer id="footer" class="col-xs-12">
                <hr />
                &copy; @DateTime.Now.Year <a href="http://www.armadillosystems.com/inquire.html" target="_blank">Armadillo Systems</a>
            </footer>
        </div>
