<div class="nav" id="mini-nav">
    <div class="mini-nav-option" id="nav-search"><span class="fa fa-info-circle"></span></div>
    <div class="mini-nav-option" id="nav-facets"><span class="glyphicon glyphicon-filter"></span></div>
    <div class="mini-nav-option" id="nav-tools"><span class="glyphicon glyphicon-wrench"></span></div>
    <div class="mini-nav-option" id="nav-help"><span class="fa fa-question"></span></div>
    <div class="mini-nav-option" id="nav-login"><a href='@Url.Action("Login", "Account", routeValues: null)'><span class="glyphicon glyphicon-log-in"></span></a></div>
    <div class="mini-nav-option" id="nav-top"><span class="glyphicon glyphicon-arrow-up"></span></div>
</div>