<script id='results-page-template' type='text/html'>
    <!-- ko if: $root.isRecordsetPageCurrent($data) -->
    <li><a class="recordset-page recordset-page-current" data-bind="attr: { 'data-page': $data, 'title': 'Page ' + $data}, text: $data"></a></li>
    <!-- /ko -->
    <!-- ko if: $root.isRecordsetPageBack($data) -->
    <li>
        <a class="recordset-page recordset-page-back" title="Previous" data-bind="attr: { 'data-page': $data}, text: $data"></a>
    </li>
    <!-- /ko -->
    <!-- ko if: $root.isRecordsetPageForward($data) -->
    <li>
        <a class="recordset-page recordset-page-forward" title="Next" data-bind="attr: { 'data-page': $data}, text: $data"></a>
    </li>
    <!-- /ko -->
    <!-- ko if: $root.isRecordsetPageBeginning($data) -->
    <li>
        <a class="recordset-page recordset-page-beginning" title="First" data-bind="attr: { 'data-page': $data}, text: $data"></a>
    </li>
    <!-- /ko -->
    <!-- ko if: $root.isRecordsetPageEnd($data) -->
    <li>
        <a class="recordset-page recordset-page-end" title="Last" data-bind="attr: { 'data-page': $data}, text: $data"></a>
    </li>
    <!-- /ko -->
    <!-- ko if: (!$root.isRecordsetPageCurrent($data) && !$root.isRecordsetPageBack($data) && !$root.isRecordsetPageForward($data) && !$root.isRecordsetPageBeginning($data) && !$root.isRecordsetPageEnd($data)) -->
    <li>
        <a class="recordset-page recordset-page-normal" title="Last" data-bind="attr: { title: 'Go to page ' + $data, 'data-page': $data}, text: $data"></a>
    </li>
    <!-- /ko -->
</script>

<nav class="nav-results-pager text-right" style="display: none;" data-bind="visible: showResultsPager">
    <div class="results-count">Results <span data-bind="text: (recordsetRowStart() + 1)"></span> to <span data-bind="text: Math.min(recordsetRecords(), (recordsetRowStart() + 1 + recordsetPageSize()))"></span> of <span data-bind="text: recordsetRecords"></span></div>
    <ul class="results-pager pagination pagination-sm no-v-padding margin-none" data-bind="template: { name: 'results-page-template', foreach: recordsetPages }"></ul>
</nav>
