<script id="result-list-image-template" type="text/html">
    <div data-bind="attr: { 'data-lastrow': LastRow, class: $root.makeResultClassName() + ' clearfix', 'data-id': ID, 'data-index': $index, 'data-file': File, 'data-children-count': resultChildrenCount(ChildNodes), 'data-children': ((ChildNodes) ? ChildNodes : '') }">     
    <article>
        <div class="result-list-img" data-bind="style: {width: $root.maxResultImgW() + 'px'}">
            <img data-bind="attr: { class: $root.classNameThumbnail + ' ' + $root.makeResultImageClassName() + ' shadow left', 'data-width': Width, 'data-height': Height, 'data-levels': Levels, alt: stripHtml(Title) }" src="@Url.Content("~/Content/images/white_square_1x1.gif")" />
        </div>
        <div class="result-list-text">
            <div class="result-title" data-bind="html: Title"></div>
            <div class="result-desc" data-bind="html: Description"></div>
            <div class="result-desc"><strong>Date:</strong> <span data-bind="text: DateStr"></span></div>
        </div>
    </article>
    @*<div>
        <article>
            
                  <div class="header-list-image">
                      <header>
                          <h3>
                              <span data-bind="text: resultChildrenStr(ChildNodes)"></span>
                              <span data-bind="if: ($root._alwaysShowOpenDeepZoomTouchIcon || $root._isAndroidOriOS)">
                                  <span data-bind="attr: { class: 'opendeepzoom fa fa-' + $root.classnameopendeepzoomicon }"></span>
                              </span>
                              <span class="result-title" data-bind="html: Title"></span>
                          </h3>
                      </header>
                  </div>
                  <div class="desc-list-image" data-bind="html: Description"></div>
                  <div class="date-list-image"><strong>Date:</strong> <span data-bind="text: Year"></span></div>
              </article>
    </div>*@
      </div>
</script>

<script id='result-grid-template' type='text/html'><li data-bind="attr: { 'data-lastrow': LastRow, class: $root.makeResultClassName() + ' clearfix', 'data-id': ID, 'data-index': $index, 'data-file': File, 'data-title': Title, 'data-author': Author, 'data-children-count': resultChildrenCount(ChildNodes), 'data-children': ((ChildNodes) ? ChildNodes : '') }" style="display: block">
        <article>
            <div data-bind="visible: (ChildNodes)">
                <div data-bind="attr: { class: $root.makeResultChildNodesClassName() }">
                    <a class="but-view-children" title="View">View</a> <span data-bind="text: resultChildrenStr(ChildNodes)"></span>
                </div>
                <div class="clear"></div>
            </div>
            <img data-bind="attr: { class: $root.classNameThumbnail + ' ' + $root.makeResultImageClassName() + ' shadow', 'data-width': Width, 'data-height': Height, 'data-levels': Levels, alt: stripHtml(Title) }" src="@Url.Content("~/Content/images/white_square_1x1.gif")" />

            <div data-bind="attr: { class: $root.makeResultHeaderClassName() }">
                <header>
                    <h3><!-- (_alwaysShowOpenDeepZoomTouchIcon || _isAndroidOriOS) -->
                        <span data-bind="visible: (_alwaysShowOpenDeepZoomTouchIcon || _isAndroidOriOS), attr: { class: 'openDeepZoom fa fa-' + $root.classNameOpenDeepZoomIcon }"></span>
                        <span class="result-title" data-bind="html: $root.resultStr(Title,true)"></span>
                    </h3>
                    <span class="result-author" data-bind="html: $root.resultStr(Author)"></span>
                </header>
            </div>
        </article>
    </li>
</script>

<script id='result-masonry-template' type='text/html'><div data-bind="attr: { 'data-lastrow': LastRow, class: $root.makeResultClassName(), 'data-id': ID, 'data-index': $index, 'data-file': File, 'data-title': Title, 'data-author': Author, 'data-children-count': resultChildrenCount(ChildNodes), 'data-children': ((ChildNodes) ? ChildNodes : '') }">
    @*<div data-bind="visible: (ChildNodes)">
        <div data-bind="attr: { class: $root.makeResultChildNodesClassName() }">
            <a class="but-view-children" title="View">View</a> <span data-bind="text: resultChildrenStr(ChildNodes)"></span>
        </div>
        <div class="clear"></div>
    </div>*@
    <img data-bind="attr: { class: $root.classNameThumbnail + ' ' + $root.makeResultImageClassName() + ' shadow', 'data-width': Width, 'data-height': Height, 'data-levels': Levels, alt: stripHtml(Title) }" src="@Url.Content("~/Content/images/white_square_1x1.gif")" style="width: 50px; height: 100px;" />
    <div class="result-title result-title-inset">
        <span data-bind="visible: (_alwaysShowOpenDeepZoomTouchIcon || _isAndroidOriOS), attr: { class: 'openDeepZoom fa fa-' + $root.classNameOpenDeepZoomIcon }"></span>
        <span data-bind="visible: ($root.isLayoutMasonrySmall() == false), html: $root.resultStr(Title,true)"></span>
        <span data-bind="visible: (ChildNodes)">@*<a class="but-view-children" title="View">View</a>*@ <span data-bind="text: resultChildrenStr(ChildNodes)"></span></span>
    </div>
    @*  result-title: title displayed under the result image
    result-title-inset: title displayed on top of the result image *@
</div>
</script>
