<div class="input-group">
    <input id="search-term" type="text" class="form-control" placeholder="Search for..." value="" data-bind="value: searchTerm" required="required" pattern="[0-9a-zA-Z]{4,}">
    <span class="input-group-btn">
        <button class="btn btn-default" id="search-go" type="button"><span class="fa fa-search search-box-button"></span></button>
        <button class="btn btn-default" id="search-clear" type="button"><span class="fa fa-times search-box-button"></span></button>
        
        <!--<button class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#search-facets"
                aria-expanded="false"
                aria-controls="search-facets">
            Facets
        </button>-->
    </span>

    <!--<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toolbar">
            <span class="glyphicon glyphicon-arrow-down" style="color: white;"></span>
        </button>
    </div> -->
</div>
